:root{
    --primary-color: #207722;
    --primary-dark: #156316;
    --secondary-color: #ff9800;
    --font-color: #333333;
    --LogoBg: rgb(116, 236, 132,0.4);
    --backgroundColor: rgb(224, 224, 224);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: var(--backgroundColor);
}