.NavBar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-inline:20rem;
    height: 60px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 10;
}


.LogoIcon{
background-color: var(--LogoBg);
color: var(--primary-color);
font-size: 2.5rem;
padding: 0.2rem;
border-radius: 50%;
}

.Icon{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.Logo{
    color: black;
    font-size: large;
    font-weight:600;
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
}


.Links{
    display:flex ;
    align-items: center;
    gap: 2rem;
}

.Links > a > li{
    list-style: none;
    font-size: 1em;
    font-weight: 600;
    color: grey;
    transition: ease-in;
}
.Links > a.active > li{
   border-bottom: 0.15em solid rgb(7, 129, 7,0.5);
    color: black;

}

.Links > a > li:hover{
    color: black;
}
.Links >a{
    text-decoration: none;
}

.CreatePost{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}

.Links > a > button{
    font-size: 0.8em;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.2em;
    background-color: var(--primary-color);
    border: none;
    padding: 0.8em 1em;
    border-radius: 10px;
    transition: linear, 0.2s;
    cursor: pointer;
    transition: linear;
}
.Links > a > button:hover{
    background-color:var(--primary-dark) ;
}

.LogoText
{
  font-size: 1.5rem;
}